/*

Green style for bootstrap

~Paweł Data
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  padding-top: 60px;
  --bs-bg-opacity: 1;
  background-color:  rgb(255, 255, 255);
  background-image: url('../image/background.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
  
  position: relative;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;  

  font-size: 1.2em;
  border-top: 3px solid rgb(7, 82, 20) !important;
}

.bg-green {
  --bs-bg-opacity: 1;
  background-color: #4c8d2b;
}
.bg-lightgreen {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom: 3px solid rgb(7, 82, 20) !important;
 

}

.nav-link {
  color: #a4dda9;
  font-size: 1.2em;
  text-shadow:1px 1px 15px rgb(07, 82, 20);
}

.nav-link:hover, .nav-link:focus {
  color: #affdb4;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { /*odnoszą się do górnej belki */
  color: #c3ffc7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #005e08;
  box-shadow: 0px 5px 10px rgb(0, 50, 0);
}

.leftmenu {
  border-radius: 0px 25px 25px 0px;
  box-shadow: 5px 5px 10px rgb(0, 50, 0);
  max-height: 40vh;
  /* position: fixed; Jakby menu miało nie jechać na dół  */
}

.main-content {
  border-radius: 25px;
  padding: 50px;
  box-shadow: 1px 1px 5px rgb(122, 122, 122);
}

.main-gallery {
  border-radius: 25px;
  padding: 50px;
  box-shadow: 1px 1px 5px rgb(122, 122, 122);
  max-width: 90vh;
  margin-bottom: 160px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(25, 135, 84);
    color: #fff;
    transition: all 0.3s;
}

.background {
  
}

.cover-all {
  height: 80vh !important;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }